@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/zao2vdq.css");

:root {
    color-scheme: dark;
    background-image: url('/sitebackground.png');
    scroll-behavior: smo;
}

/* background-color: #021824; */